{% load static %}

<!DOCTYPE html>
<head>
    <title>Django</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

<body>
    {% include 'accounts/navbar.html' %}

    {% block content %}


    {% endblock %}

    <hr>
    <h5>Footer</h5>
    <script src="{% static 'css/bootstrap/jquery-3.4.1.slim.min.js'%}"></script>
    <script src="{% static 'css/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/bootstrap.min.js' %}"></script>
</body>